#loginModal .modal-header {background-color: #346488; color: white; font-size: 1.5em; padding: 5px 15px;}
#loginModal .modal-header button {color: white !important; font-size: 2em; opacity: 1;}
#loginModal form {border: 0px !important;}
#username {margin-bottom: 20px;}
#welcomemsg {text-align: right; margin-bottom: 5px;}
#welcomemsg a {cursor: pointer; text-decoration: underline; padding: 0px 10px; font-size: 1.2em;}
.rulebtn {margin-top: 25px !important; width: 100%; color: white !important; text-decoration: none !important;}
#rule1,#rule2,#rule3,#rule4,#rule5 {cursor:not-allowed; margin: 6px 0px; padding: 5px; width: 100%; border: 1px dotted #46b8da; background-color: white; border-radius: 5px;}
#ruleModal .optional {display: none;}
#ruleModal .row:first-child label, #ruleModal .row:first-child .staticlabel {display: block;}
#ruleModal .row label, #ruleModal .row .staticlabel {display: none;}
.submitsection .panel-body {padding: 0px; text-align: center; background-color: white !important;}
.submitsection a {width: 200px; color: white !important; text-decoration: none !important; margin: 4px; }
#addNewServiceBenefit {width: 100%;}
.listentry {border-top: 1px solid #ccc;}
.listentry:last-child {border-bottom: 1px solid #ccc;}
.listentry .col-sm-6 {padding-top: 12px;}
.listentry button {width: 100%;}
.form-group-horizontal .form-control-feedback {right: -30px; line-height: 25px;}
#typeElement .horizontal:first-child {  padding: 0; }
