#maincontent table .serviceTbl {
	margin: 0px;
	width: 100%;
}
#maincontent table .serviceTbl td {
	padding: 0px;
	width: 30%;
}
#maincontent table .serviceTbl td  img{
	margin-bottom: 2px;
}

#maincontent table .serviceTbl td:first-child {
	padding: 0px;
	width: 70%;
}

#maincontent ul#alphaPagination.nav-tabs {
   /*border-bottom: 2px solid #346488;
    padding: 0 0 0 10px;
	*/
}
#alphaPagination.nav > li > a {
    margin-top: 8px;
    padding: 10px 8px;
}
#alphaPagination.nav > li > a > span {
    display: none;
}
#alphaPagination.nav-tabs > li.available > a, #alphaPagination.nav-tabs > li.available > a:hover, #alphaPagination.nav-tabs > li.available > a:focus {
    background-color: #efefef;
    border: 1px solid #efefef;
    color: #000;
}
#alphaPagination.nav-tabs > li.active > a, #alphaPagination.nav-tabs > li.active > a:hover, #alphaPagination.nav-tabs > li.active > a:focus {
    background-color: #346488;
    border: 1px solid #346488;
    color: #fff;
}
#alphaPagination.nav-tabs > li.active > a > span, #alphaPagination.nav-tabs > li.active > a:hover > span, #alphaPagination.nav-tabs > li.active > a:focus > span, #alphaPagination.nav-tabs > li.available > a > span, #alphaPagination.nav-tabs > li.available > a:hover > span, #alphaPagination.nav-tabs > li.available > a:focus > span {
    background-color: #fef6d3;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    color: #000;
    display: block;
    font-size: 10px;
    line-height: 10px;
    padding: 0 1px;
    position: absolute;
    right: -2px;
    top: -3px;
}
#maincontent #resultTable {
    margin-top: 0;
}
#maincontent table#resultTable tr {
    border: 0 none;
}
#maincontent #resultTable th {
    background-color: #f5f5f5;
    border-color: #fff;
    border-style: solid;
    border-width: 2px 0 2px 2px;
}
#maincontent #resultTable th:first-child {
    border-left-width: 0;
}
.liStatusIcon {
	margin-right: 10px;
}
#maincontent table .serviceTbl td.liServiceStatusText {
	padding-left: 20px;
}

.infractionDetails {
	border: 1px solid #ddd;;
}
.detaiLink {
	margin-left: 10px;
}
.modalFieldLabel {
	font-weight: bold;
}

