#numPagination ul.pagination {
    padding: 0px;
}

#maincontent ul#alphaPagination.nav-tabs {
   /*border-bottom: 2px solid #346488;
    padding: 0 0 0 10px;
	*/
}

#alphaPagination.nav > li {
	width: 3.6%;
	text-align: center;
}
#alphaPagination.nav > li:first-child {
	width: 6%;
	text-align: center;
}
#alphaPagination.nav > li > a {
    margin-top: 8px;
	padding: 10px 6px;
}


#alphaPagination.nav > li > a > span {
    display: none;
}
#alphaPagination.nav-tabs > li.available > a,  #alphaPagination.nav-tabs > li.available > a:focus {
    background-color: #efefef;
    border: 1px solid #efefef;
    color: #000;
}
#alphaPagination.nav-tabs > li.available > a:hover {
    background-color: #346488;
    border: 1px solid #346488;
    color: #fff;
}
#alphaPagination.nav-tabs > li.active > a, #alphaPagination.nav-tabs > li.active > a:hover, #alphaPagination.nav-tabs > li.active > a:focus {
    background-color: #346488;
    border: 1px solid #346488;
    color: #fff;
}
#alphaPagination.nav-tabs > li.active > a > span, #alphaPagination.nav-tabs > li.active > a:hover > span, #alphaPagination.nav-tabs > li.active > a:focus > span, #alphaPagination.nav-tabs > li.available > a > span, #alphaPagination.nav-tabs > li.available > a:hover > span, #alphaPagination.nav-tabs > li.available > a:focus > span {
    background-color: #fef6d3;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    color: #000;
    display: block;
    font-size: 10px;
    line-height: 10px;
    padding: 0 1px;
    position: absolute;
    right: -2px;
    top: -3px;
}

a.safesidebar {
    background: #fff repeat scroll 0 0;
    border-radius: 4px;
	border-color:  #2b5a83;
	border: 1px solid;
    color:  #2b5a83;
    cursor: pointer;
    display: inline-block;
    font-family: HelveticaNeue-Medium,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    /*padding: 10px 20px 26px 20px;*/
	padding: 10px;
    position: fixed;
	bottom: 70px;
	opacity: .7;
    /*right: -68px;*/
	left: 850px;  /* assume no left-hand nav.*/
    text-align: left;
    text-decoration: none;
    text-rendering: optimizelegibility;
    /*text-transform: uppercase;*/
    /*top: 43%;*/
   /* transform: rotate(-90deg);*/
    white-space: nowrap;
    word-spacing: 2px;
    z-index: 999;
}

a.safesidebar:focus {
	outline: 0 none!important;;
}
.fixHeader  {
	background: white;
	z-index: 9998;
	position: fixed;
	top: 100px;
	width: 1140px;
}


.searchRow {
    padding-top: 15px;
    margin: 0;
    border: 1px solid #efefef;
}
.resRow {
    margin: 0;
}
#advSearchBtn {
    /*margin-left: 40px;*/
}

/*
#srchResults {
    float: left;
    margin-top: 8px;

}
*/
#resultPane.panel {
	margin-bottom: 0;
}
#maincontent form table {
    border-collapse: collapse;
    margin: 0;
}
#perPage {
    float:right;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

/* search/advanced search items */

.srchLabel1 {
    min-width: 160px;
}

.has-feedback {
  position: relative;
}
.has-feedback .form-control {
 /* padding-right: 42.5px;*/
}

.form-control::-ms-clear {display: none; width:0; height:0;}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  /*pointer-events: none; this remove click events.. so bad*/
}

.clearer {
    right: 5px; 
    cursor: pointer;
}
.multiselect-container input[type=radio] {
    display: none;
}

.datepicker{z-index:9000 !important;} /* must be higher than modal's 7001*/

.input-daterange > div {
    border: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.input-daterange p {
    margin: 5px 15px !important;
}

fieldset.insDates {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.insDates {
        font-size: 1.0em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
        
}
#map-loader {
    background-color: #fff;
    border: 3px solid #666;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 353px;
    top: 150px;
    width: 100px;
    
    /* Border Radius */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    /* Box Shadow */
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}
#list-loader {
    background-color: #fff;
    border: 3px solid #666;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 353px;
    top: auto;
    width: 100px;
    
    /* Border Radius */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    /* Box Shadow */
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}

/* listing items */
.NoData {
    font-weight: bold;
}
.liStatusIcon {
	margin-right: 10px;
}

/* Map Items */
.controls {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 32px;
    margin-top: 10px;
    outline: medium none;
}

#map-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}
#map-input:focus {
    border-color: #4d90fe;
}

#maincontent .resetMap {
	padding-left: 5px;
}

.mapLegend {
    background-color: rgba(255, 255, 255, 0.9);
}
.mapLegend .customButton {
    padding: 6px;
    text-align: left;
	font-family: Roboto;
}
#legend .customButton ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

#legend .customButton ul li{
    display:inline;
}
#legend .customButton ul li img{
	width: 16px;
}



.customControl_clean, .customControl {
    background-color: #fff;
    border-color: #666666;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 160%;
    margin: 5px 10px 5px 5px;
    overflow: hidden;
}
.customControl {
    -moz-user-select: none;
}
.customButton {
    border-left: 1px solid #666666;
    cursor: pointer;
    float: left;
    min-width: 26px;
    padding: 2px 6px 0;
    text-align: center;
}
.customButton input {
}

/* info Windows */
.infoDiv {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.35;
    overflow: hidden;

}
.infoRow {
    /*margin-left: 0px;*/
    margin-right: 0px;
}
.infoHeaderRow {
    font-weight: bold;
    font-size: 1.2em;
}
.infoFooter {
    margin-top: 10px;
    /*margin-left: 25px;*/
}
.infoImportant {
    font-weight:  bold;
}
.infoHeader {
    margin-bottom:  10px;
}
.infoMultiRow {
    margin-bottom:  10px;
}
.svLink {
    float:right;
    /*padding-right: 0px;*/
}
.modalStatusImg {
	float: left;
    margin-left: 15px;
    width: 40px;
	margin-right: -15px;
}
@media (max-width: 768px) {
	#alphaPagination.nav > li {
		width: 7%;
	}
	#alphaPagination.nav > li:first-child {
	width: 12%;
	text-align: center;
}
}
@media (max-width: 400px) {
	#alphaPagination.nav > li {
		width: 10%;
	}
	#alphaPagination.nav > li:first-child {
	width: 15%;
	text-align: center;
}
}
